@using Entities.Concrete
@model Product

<div class="row col-lg-3 col-md-4 col-sm-12 my-2">
    <div class="card" style="width: 18rem;">
        <img src="/images/book.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">Product hakkında bilgiler</p>
            
            <a href="#" class="btn btn-info">Detay</a>
        </div>
    </div>
</div>